<h1>Hello, <%= user_email.user.full_name %>!</h1>
<p>
    Confirm your email address by clicking
    <a href="http://<%= config.hostname! %>/user/confirm_email?email=<%= user_email.email %>&token=<%= user_email.confirmation_token %>">this link</a>.
</p>
