<h1>Hello, <%= user_email.user.full_name %>!</h1>

<p>
You have requested to reset your password. To do that visit
<a href="http://<%= config.hostname! %>/user/reset_password?email=<%= user_email.email %>&token=<%= authentication.password_reset_token %>">this page</a>,
where you can set the password to a new one.
</p>

<p>
NOTE: If you haven't requested the password reset, log in to your account using your current credentials and this request will be cancelled.
</p>