<div class="page-header">
  <h1>Edit user profile</h1>
</div>

<% form @user do %>
    <%= field :full_name %>
<p>
    Can log in using:
    <%= current_user.authentications.map(&:provider).map{|p| icon("fa-#{p}-square fa-2x", title: p)}.join(',') %>
</p>

<%= button "Save changes" %>

<% end %>
