<% page_title 'Almost there...' %>

<p>
    Your account is almost ready.
</p>
<p>
    We have sent you a message with a link to confirm your email address. Open the message and click the link to activate the account.
</p>
