<div class="page-header">
  <h1>Request email confirmation</h1>
</div>

<p>
    You haven't received an email confirmation message from us? Try requesting this message again.
</p>
<% form @user_request_email_confirmation_form do  %>
    <%= field :email %>
<%= button 'Request email confirmation message' %>

<% end %>
