<div class="page-header">
  <h1>Password reset message sent</h1>
</div>

<p>
    We have sent you a message with a link to password reset page. Open the message and click the link to set new password.
</p>
