<% page_title 'Request account activation' %>

<p>
    You haven't received an account activation message from us? Try requesting this message again.
</p>
<% form @user_request_account_activation_form do  %>
    <%= field :email %>
<%= button 'Request activation message' %>

<% end %>
