<div class="page-header">
  <h1>Request password reset</h1>
</div>

<p>
    Forgot your password? You can request reset of your password here. An email will be sent to you with further instructions.
</p>
<% form @user_request_password_reset_form do  %>
    <%= field :email %>
<%= button 'Request password reset' %>

<% end %>