<div class="page-header">
  <h1>Email confirmation message sent</h1>
</div>

<p>
    We have sent you a message with a link to confirm your email address. Open the message and click the link to confirm it.
</p>
