<div class="page-header">
  <h1>Request account activation</h1>
</div>

<p>
    You haven't received an account activation message from us? Try requesting this message again.
</p>
<% form @user_account_activation_form do  %>
    <%= field :email %>
<%= button 'Request activation message' %>

<% end %>
