<div class="page-header">
  <h1>Account activation message sent</h1>
</div>

<p>
    We have sent you a message with a link to confirm your email address. Open the message and click the link to activate the account.
</p>
